[Unit]
Description=Rest Server
After=syslog.target
After=network.target
After=media-backup.mount
Requires=media-backup.mount

[Service]
Type=simple
User=restic-rest
Group=restic-rest
ExecStart=/usr/bin/rest-server --path /media/backup/1200 --listen :8000 --tls --tls-cert /media/data/restic-rest/public_key --tls-key /media/data/restic-rest/private_key
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target